{% import 'macros.html' as macros %}
{% extends 'clean1/base.html' %}
{% block htmltag %}
<html prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article#">
{% endblock %}
{% block links %}
    <link rel="alternate" type="application/atom+xml"
    title="Atom {{tiddler.title|e}}" href="/{{ tiddler.title|urlencode }}.atom" />
{% endblock %}
{% block meta %}
{% include 'ogp.html' %}
{% endblock %}
{% block header %}
<a title="{{ space_name}} Home" href="/">
    <img class="siteicon" alt="siteicon" src="/SiteIcon"></a>
<a title="{{ space_name}} Tiddlers" href="/tiddlers">Tiddlers</a>
<a title="Subscribe" href="/{{ tiddler.title|urlencode }}.atom">
    <img alt="Subscribe" src="/bags/common/tiddlers/syndication.png"></a>
{% endblock %}

{% block content %}
    <article class='tiddler'>
        <header>
            <h1 class="title">
                {% if space_link %}
                <a href="{{ space_link }}" id='title'>{{ tiddler.title|e }}</a>
                {% else %}
                <span id='title'>{{tiddler.title|e}}</span>
                {% endif %}
            </h1>
            <p class="user modifier">By <a href="{{ modifier_link }}">{{
                    tiddler.modifier|e }}</a></p>
                <p class="date modified">Updated
                {{ macros.tiddler_timestamp('modified', tiddler) }}
                </p>
            {% if tags %}
            <ul class="tags">
                {% for tag in tags %}
                <li><a
                    href="/search?q=tag:{{tag|urlencode}}">{{ tag|e }}</a>
                </li>
            {% endfor %}
            </ul>
            {% endif %}
        </header>

        <section>
            {{ html }}
        </section>
    </article>
{% endblock %}

{% block scripts %}
    <script src="/status.js"></script>
    <script src="/bags/common/tiddlers/jquery.js"></script>
    <script src="/bags/common/tiddlers/_reply-loader.js"></script>
{% endblock %}
