{% extends 'clean1/base.html' %}
{% block header %}
        <p><a rel="collection" href="/recipes">Recipes</a></p>
        <p><a href="/recipes/{{ recipe.name|uri }}/tiddlers">Tiddlers in
            this recipe</a></p>
{% endblock %}
{% block content %}
    <article class="recipe">
        <p>{{ recipe.desc }}</p>
        <ul class="listing">
        {% for bag, filter in recipe.get_recipe() %}
            {% if filter %}
            <li><a href="/bags/{{ bag|uri }}/tiddlers?{{
                line[1]|uri }}">{{ bag }}: {{ filter }}</a></li>
            {% else %}
            <li><a href="/bags/{{ bag|uri }}/tiddlers">{{ bag }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
    </article>
{% endblock %}
