{% import 'macros.html' as macros %}
{% extends 'clean1/base.html' %}
{% block links %}
        <link rel="alternate" type="application/atom+xml"
        title="Atom {{tiddler.title|e}}" href="{{ tiddler_url }}.atom" />
{% endblock %}
{% block header %}
<p><a rel="collection" title="up" href="{{ list_link }}">{{ list_title }}</a></p>
        <p>This tiddler as:
            {%- for type in links -%}
            &nbsp;<a rel="alternate"
                href="{{tiddler_url}}.{{type}}{{query_string}}">{{type}}</a>
            {%- endfor -%}</p>
{% endblock %}
{% block content %}
    <article class="tiddler">
        <header>
            <h1 class="title">
            {% if space_link %}
            <a href="{{ space_link }}">{{ tiddler.title|e }}</a>
            {% else %}
            {{tiddler.title|e}}
            {% endif %}
            </h1>
        </header>

        <dl>
            {%if tiddler.recipe %}
            <dt>recipe</dt>
            <dd>{% if container_policy %}
            <a href="/recipes/{{tiddler.recipe|uri}}">{{tiddler.recipe|e}}</a>
            {% else %}{{ tiddler.recipe|e }}{% endif %}
            </dd>
            {% endif %}
            <dt>bag</dt>
            <dd>{% if container_policy %}<a class="bag"
            href="/bags/{{tiddler.bag|uri}}">{{tiddler.bag|e}}</a>
            {% else %}
            {{ tiddler.bag|e }}
            {% endif %}
            </dd>
            <dt><a
                href="/bags/{{tiddler.bag|uri}}/tiddlers/{{tiddler.title|uri}}/revisions">revision</a></dt>
            <dd><a class="revision"
                  href="/bags/{{tiddler.bag|uri}}/tiddlers/{{tiddler.title|uri}}/revisions/{{tiddler.revision}}">
                  {{tiddler.revision|e}}</a></dd>
            <dt>modified</dt>
            <dd>{{ macros.tiddler_timestamp('modified', tiddler) }}</dd>
            <dt>modifier</dt>
            <dd><a href="{{ modifier_link }}" class="meta-modifier">{{tiddler.modifier|e}}</a></dd>
            <dt>created</dt>
            <dd>{{ macros.tiddler_timestamp('created', tiddler) }}</dd>
            <dt>creator</dt>
            <dd><a href="{{ creator_link }}" class="meta-creator">{{tiddler.creator|e}}</a></dd>
            <dt>type</dt>
            <dd>{{ tiddler.type|e }}</dd>
            <dt>tags</dt>
            <dd><ul>
            {% for tag in tiddler.tags %}
            <li><a class="tag" href='/search?q=tag:"{{tag|urlencode}}"'>{{
                tag|e }}</a></li>
            {% endfor %}
            </ul></dd>
            <dt>fields</dt>
            <dd><dl>
                {% for field_name in fields %}
                <dt>{{ field_name|e }}</dt>
                <dd>{{ fields[field_name]|e }}</dd>
                {% endfor %}
            </dl></dd>
        </dl>
        <section>
            {{ html }}
        </section>
    </article>
{% endblock %}
