*.pyc

dev_instance

src/externals/*js
src/lib/chrjs.js
src/lib/chrjs.users.js
src/lib/bookmark_bubble.js.js
src/lib/chrjs-store.js.js
src/lib/jquery-form.js.js
src/lib/jquery-json.js.js
src/lib/jquery.js.js
src/lib/jquery.timeago.js.js
src/lib/ts.js.js
src/lib/html5.js.js
src/lib/normalize.css

src/test/qunit
src/test/run-qunit.js
src/test/lib

test_instance

tiddlywebplugins/tiddlyspace/resources

node_modules
