include README Makefile COPYRIGHT
recursive-include test *
include tiddlywebplugins/templates/*.html
include tiddlywebplugins/templates/*.xml
recursive-include tiddlywebplugins/tiddlyspace/resources *
