iframe {
	height: 320px;
	z-index: 1000;
}

a.app-picker {
	position: absolute;
	right: 24px;
	top: 0px;
	width: 24px;
	height: 24px;
	background-size: 24px 24px;
	background-image: url(/privateAndPublicIcon);
	text-indent: -999px;
	overflow: hidden;
	z-index: 2000;
	border: none;
	opacity: 0.5;
}

a.app-picker:hover {
	background-color: none !important;
	opacity: 1;
}

.bs-popup {
	position: absolute;
	z-index: 1000;
	right: 10px;
	top: 52px;
}

.bubble .description {
	margin-left: 70px;
	margin-top: 2px;
}

.bubble {
	font-size: 0.9em;
	font-family: Georgia;
	position: relative;
	width: 300px;
	margin: 0px auto 0px auto;
	margin: top right bottom left;
	padding: 20px 20px 20px 10px;
	border: solid 2px rgb(255, 255, 255);
	border-radius: 8px 8px;
	-webkit-box-shadow: #F4C4E0 0px 0px 8px;
	-moz-box-shadow: #F4C4E0 0px 0px 8px;
	-o-box-shadow: #F4C4E0 0px 0px 8px;
	-ms-box-shadow: #F4C4E0 0px 0px 8px;
	box-shadow: #F4C4E0 0px 0px 8px;
	background-color: rgb(220, 231, 241);
}

.bubble .tail:before {
	content:"";
	position:absolute;
	border-style:solid;
	display:block; 
	width:0;
	top:-24px;
	right:5px;
	bottom:auto;
	left:auto;
	opacity: 0.5;
	border-width:0 20px 20px;
	border-color: rgba(244, 196, 224, 0.6) transparent;
}

.bubble .tail:after {
	content:"";
	position:absolute;
	border-style:solid;
	display:block; 
	width:0;
	top:-15px;
	right:10px;
	bottom:auto;
	left:auto;
	border-width:0 15px 15px;
	border-color: #DCE7F1 transparent;
}
