html {
    background: black;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

body {
    margin-left: auto;
    margin-right: auto;
    min-width: 750px;
    background: white;
    width: 75%;
}

#header img {
    max-width: 100;
    max-height: 100;
}

.vcard {
    float: right;
}

#header, #footer {
    padding: 1em;
}

#footer {
    text-align: right;
}

#article {
    padding: 1em;
}

.section {
    padding: 1em;
    border-top: thin solid black;
}

.wikkly-code-block, .wikkly-code-inline {
    font-family: monospace
}

.wikkly-strike {
    text-decoration: line-through;
}
