html {
	font-family: "Helvetica Neue", "Lucida Grande", "Arial";
	font-size: 62.5%;
	background-image: -webkit-radial-gradient(50% 30%, ellipse cover, rgba(255, 255, 255, 0.4), transparent 100%), url(/bags/common/tiddlers/HtmlBackground);
	background-image: -moz-radial-gradient(50% 30%, ellipse cover, rgba(255, 255, 255, 0.4), transparent 100%), url(/bags/common/tiddlers/HtmlBackground);
	background-image: -o-radial-gradient(50% 30%, ellipse cover, rgba(255, 255, 255, 0.4), transparent 100%), url(/bags/common/tiddlers/HtmlBackground);
	background-image: -ms-radial-gradient(50% 30%, ellipse cover, rgba(255, 255, 255, 0.4), transparent 100%), url(/bags/common/tiddlers/HtmlBackground);
	background-image: radial-gradient(50% 30%, ellipse cover, rgba(255, 255, 255, 0.4), transparent 100%), url(/bags/common/tiddlers/HtmlBackground);
	min-height: 100%;
}

body {
	background-color: transparent;
	font-size: 1.6em;
	line-height: 1.4;
	margin: 0;
}

blockquote {
	quotes: "\201C" "\201D";
	margin-bottom: 3.25em;
}

blockquote:before,
blockquote:after {
	font-size: 2.75em;
	font-weight: bold;
}

blockquote:before {
	content: open-quote;
	color: #CCC;
}

blockquote:after {
	content: close-quote;
	color: #999;
	float: right;
}

pre {
	border: dotted 1px #ccc;
	padding: 0.75em;
	overflow: auto;
}

#container {
	position: relative;
	width: 32.5em;
	background-color: #E0E0E0;
	background-color: rgba(255, 255, 255, 0.7);
	margin: 0.625em auto;
	padding: 0.75em 0.625em;
}

a {
	color: #0082af;
}

#header {
	width: 34.75em;
	position: relative;
	background-color: #DCE7F1;
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
	-o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
	-ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
	margin-left: -1.125em;
}

#links {
	margin-top: 1em;
	text-align: center;
}

#header h1 {
	margin: auto;
	font-family: Georgia;
	text-align: center;
	font-size: 2.5em;
}

#header h1,
#header h1 a {
	color: #434B50;
	text-decoration: none;
	text-shadow: 0px 1px 1px white;
}

#header::before {
	content: "";
	position: absolute;
	bottom: -0.5em;
	left: 0px;
	border-width: 0px 8px 8px 0px;
	border-style: solid;
	border-color: transparent #3A4955 transparent #3A4955;
	background: transparent;
	display: block;
	width: 0;
}

#header::after {
	content: "";
	position: absolute;
	bottom: -0.5em;
	right: 0px;
	border-width: 8px 8px 0px 0px;
	border-style: solid;
	border-color: #3A4955 transparent transparent #3A4955;
	background: transparent;
	display: block;
	width: 0;
}

.main {
	color: #1A1F1E;
	font-family: Georgia;
	font-size: 1.15em;
	padding: 1em;
	position: relative;
	border: 1px solid gray;
	background: #F0F4F8;
	margin-top: 1em;
	padding: 1em;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), -1px -1px 2px rgba(0, 0, 0, 0.5);
	word-wrap: break-word;
}

.main img {
	max-width: 100%;
}

.meta {
	border: solid 1px #F0F4F8;
	color: #434B50;
	font-size: 0.75em;
	margin: 1.5em 0 0;
	padding: 0.8em 1em;
}

.meta ul {
	list-style-type: none;
}

.meta .hidden {
	display: none;
}

#footer {
	text-align: center;
	font-style: italic;
	font-size: 0.7em;
	color: gray;
	font-weight: bold;
	border-top: solid 1px #CCC;
	margin-top: 1em;
}

dt, dd {
	line-height: 1.9em;
}

dt {
	margin-right: 0.65em;
	float: left;
	clear: both;
	font-weight: bold;
}

dd {
	margin: 0px;
	margin-right: 0.8em;
	display: block;
}

dd.meta-tag {
	display: inline-block;
	margin-right: 0.65em;
}

#editLink {
	position: absolute;
	right: 0px;
	top: 0.625em;
	z-index: 5;
	color: #787878;
	font-size: 0.8em;
}

/* TODO: avoid repetition - this css also lives in notabene.css */
#backstage {
	position: relative;
	z-index: 2;
	width: 100%;
	padding: 0px;
	background-color: black;
	margin: 0px 0px 0px 0px;
	height: 2em;
	text-align: center;
	background: -moz-linear-gradient(center bottom,#222 0%, #333 50%, #555 100%);
	background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #222),color-stop(0.5, #333),color-stop(1, #555));
	background: -moz-linear-gradient(center bottom,#222 0%, #333 50%, #555 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F5555, endColorstr=#F2222);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#F5555, endColorstr=#F2222)";
}

#backstage a {
	color: white;
	padding: 0.25em;
	display: block;
	text-decoration: none;
}

#backstage li:first-child {
	border-right: solid 1px #777;
}

#backstage li:nth-child(2) {
	border-left: solid 1px #555;
}

#backstage a:hover {
	background-color: #FFA500;
}

#backstage li {
	display: inline-block;
	line-height: 1.125em;
	margin-top: 0.125em;
	padding: 0 0.625em;
}

/**********/
/* Tables */
/**********/

table.twtable {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid gray;
	margin-top: 0.5em;
}

.twtable thead {
	background: #F0F4F8;
	font-weight: 600;
}

.twtable thead td {
	text-align: center;
}

.twtable th,
.twtable td {
	border: 1px solid gray;
	padding: 0.2em;
}

@media screen and (orientation:portrait) and (max-width: 320px) {
	#backstage {
		font-size: 0.8em;
	}
}
