html, body, #container {
	height: 100%;
	padding: 0;
	margin: 0;
	color: #003355;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #A2F7A2;
}

body > #container {
	height: auto;
	min-height: 100%;
}

#container {
	background-color: #FFF;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#C7EAFF), to(#FFFFFF));
	background: -moz-linear-gradient(0% 100% 90deg, #C7EAFF, #FFFFFF);
	min-width: 43em;
}

#userForm {
	display: none;
	position: relative;
	z-index: 200;
	background-color: #FFF;
}

#header {
	background-color: #C7EAFF;
	width: 100%;
	height: 8em;
	text-align: center;
	border-bottom: 4px solid #86B2CC;
}

#about.public {
	margin: -5em auto 0 auto;
	width: 19.5em;
	position: relative;
	z-index: 100;
	padding: 10em;
	-webkit-transition: -webkit-transform 0.6s ease-in-out;
}

#about.public:hover {
	-webkit-transform: rotate(0deg) scale(1.05);
	-moz-transform: rotate(0deg) scale(1.05);
	transform: rotate(0deg) scale(1.05);
}

#about .private {
	width: 14em;
	padding: 1em 2em 2em;
}

#footer {
	color: #000;
	clear: both;
	position: relative;
	width: 100%;
	height: 7em;
	min-height: 5em;
	min-width: 43em;
	text-align: center;
	background-color: #A2F7A2;
	border-top: 0.1em solid #85AB87;
	padding-top: 1em;
	margin-top: -5.1em;
	z-index: 100;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E2FFE2), to(#A2F7A2));
	background: -moz-linear-gradient(0% 100% 90deg, #A2F7A2, #E2FFE2);
}

#footer * {
	margin: 0;
	padding: 0;
}

.siteTitle {
	color: #337788;
	position: relative;
	top: -2.7em;
	left: -0.5em;
	line-height: 3em;
	font-size: 3em;
	font-weight: bold;
}

.siteSubtitle {
	position: relative;
	top: -3.5em;
	font-size: 1.3em;
	display: block;
	margin: 0 auto;
}

.login {
	position: relative;
	top: -2.75em;
}

a,
a:active,
a:visited {
	color: #003355;
	text-decoration: none;
}

a:hover {
	color: #3399AA;
	text-decoration: underline;
}

/*
 * bubbles
 */

.public {
	position: relative;
	border: 2px solid red;
	background-color: #C7EAFF;
	border: 4px solid #86B2CC;
	-webkit-border-radius: 20em;
	-moz-border-radius: 20em;
	border-radius: 20em;
}

.private {
	background-color: #FFCAE9;
	border: 4px solid #E48CBF;
	margin: 0 auto;
	padding: 1em;
	text-align: center;
	-webkit-border-radius: 20em;
	-moz-border-radius: 20em;
	border-radius: 20em;
}

.bubble {
	position: absolute;
	z-index: 10;
	padding: 3em;
	-webkit-transition: -webkit-transform 1.0s ease-in-out;
}

.bubble:hover {
	-webkit-transform: rotate(0deg) scale(2.0);
	-moz-transform: rotate(0deg) scale(2.0);
	transform: rotate(0deg) scale(2.0);
}

.bubble .private {
	height: 1em;
	width: 1em;
}

.small {
	padding: 1.5em;
}

.small .private {
	height: 0.1em;
	width: 0.1em;
}

.medium {
	padding: 2em;
}

.medium .private {
	height: 0.5em;
	width: 0.5em;
}

#space1.public { top: 24em; left: 30em; }
#space2.public { top: 6em; left: 24em; }
#space3.public { bottom: 20em; left: 4em; }
#space4.public { top: 3em; right: 76em; }
#space5.public { bottom: 14em; left: 4em; }
#space6.public { top: 28em; right: 77em; }
#space7.public { top: 9em; right: 25em; }
#space8.public { top: -3em; right: 39em; }
#space9.public { bottom: 9em; right: 5em; }
#space10.public { bottom: 29em; left: 35em; }
#space11.public { bottom: 22em; left: 8em; }
#space12.public { bottom: 7em; right: 12em; }
#space13.public { bottom: 13em; left: 33em; }
#space14.public { top: 19em; right: 35em; }
#space15.public { bottom: 23em; left: 33em; }
#space16.public { bottom: 15em; right: 9em; }
#space17.public { top: 12em; left: 10em; }
#space18.public { top: 9em; left: 36em; }
#space19.public { top: 20em; left: 25em; }
#space20.public { bottom: 34em; right: 59em; }
#space21.public { top: 20em; right: 81em; }
#space22.public { bottom: 4em; left: -3em; }
#space23.public { bottom: 14em; left: 28em; }
#space24.public { top: 16em; right: 51em; }
#space25.public { top: 20em; right: 49em; }
#space26.public { bottom: 25em; right: 2em; }
#space27.public { bottom: 30em; right: 46em; }
#space28.public { top: 24em; left: 22em; }
#space29.public { top: 22em; right: 85em; }
#space30.public { top: 18em; left: 33em; }
