<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        {%- for link in css -%}
        <link rel="stylesheet" href="{{ link }}" type="text/css" />
        {%- endfor -%}
        {% block links %}
        {% endblock %}
        <link rel="icon" href="/favicon.ico">
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <meta name="title" content="{{ title|e }}" /> 
        <meta name="image" content="/SiteIcon" /> 
        <meta name="description" content="{{ meta_description|e }}"> 
        <meta name="keywords" content="{{ meta_keywords|e }}"> 
        <meta name="viewport" content="width=device-width"> 
    </head>
    <body>
        <div id="container">
          <div id="header">
          {% block title %}
          <h1>{{ title|e }}</h1>
          {% endblock %}
          </div>
          <div id="article">
          {% block content %}
          {% endblock %}
          </div>
          <div id="footer">
          Brought to you by <a href="{{ original_server_host }}">TiddlySpace</a>.
          </div>
        </div>
        {%- for link in js -%}
        <script type="text/javascript" src="{{ link }}"></script>
        {%- endfor -%}
        <script type="text/javascript" src="/bags/common/tiddlers/backstage.js"></script>
    </body>
</html>
