<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        {%- for link in css -%}
        <link rel="stylesheet" href="{{ link }}" type="text/css" />
        {%- endfor -%}
        {% block links %}
        {% endblock %}
    </head>
    <body>
        <div id="container">
          <div id="header">
          {% block title %}
          <h1>{{ title|e }}</h1>
          {% endblock %}
          </div>
          <div id="article">
          {% block content %}
          {% endblock %}
          </div>
          <div id="footer">
          Brought to you by <a href="{{ server_host }}">TiddlySpace</a>.
          </div>
        </div>
        {%- for link in js -%}
        <script type="text/javascript" src="{{ link }}"></script>
        {%- endfor -%}
    </body>
</html>
