{% extends 'base.html' %}
{% block links %}
        <link rel="alternate" type="application/atom+xml"
        title="Atom {{tiddler.title|e}}" href="{{ tiddler_url }}.atom" />
{% endblock %}
{% block title %}
        <h1>
        {% if space_link %}
        <a href="{{ space_link }}" id='title'>{{ tiddler.title }}</a>
        {% else %}
        {{tiddler.title}}
        {% endif %}
        </h1>
        <div>
          revision <a class='revision'>{{tiddler.revision}}</a>
          in bag <a class='bag'>{{tiddler.bag|e}}</a>
          {% if tiddler.recipe %}and recipe <a class='recipe'>{{tiddler.recipe|e}}</a>{% endif %}
        </div>
{% endblock %}
{% block content %}
        <div class="section" id="tiddlertext">
            <div class="tiddler">
              <dl class='meta'>
                  <dt>created</dt><dd>{{tiddler.created}}</dd>
                  <dt>creator</dt><dd><a>{{tiddler.creator|e}}</a></dd>
                  <dt>modified</dt><dd>{{tiddler.modified}}</dd>
                  <dt>modifier</dt><dd><a>{{tiddler.modifier|e}}</a></dd>
                  {%- for i in fields -%}
                  <dt>{{i}}</dt><dd>{{fields[i]}}</dd>
                  {%- endfor -%}
              </dl>
              <div>
                tagged with: {% for i in tags %} <a rel="tag">{{ i }}</a> {% endfor %}
              </div>
              {{ html }}
            </div>
        </div>
{% endblock %}
