{% extends 'base.html' %}
{% block links %}
        <link rel="alternate" type="application/atom+xml"
        title="Atom {{tiddler.title|e}}" href="{{ tiddler_url }}.atom" />
{% endblock %}
{% block title %}
        <div class="section" id="links">
                <div class="tiddlerslink"><a href="{{ list_link }}">{{
                list_title }}</a></div>
        </div>
        <h1>
        {% if space_link %}
        <a href="{{ space_link }}">{{ tiddler.title }}</a>
        {% else %}
        {{tiddler.title}}
        {% endif %}
        </h1>
        <div>
          revision <span class='revision'>{{tiddler.revision}}</span>
          in bag <span class='bag'>{{tiddler.bag|e}}</span>
          {% if tiddler.recipe %}and recipe <span class='recipe'>{{tiddler.recipe|e}}</span>{% endif %}
        </div>
{% endblock %}
{% block content %}
        <div class="section" id="tiddlertext">
            <div class="tiddler"
                title="{{tiddler.title|e}}"
                tags="{{tags}}"
                {{fields}}>
            <dl>
                <dt>created</dt><dd>{{tiddler.created}}</dd>
                <dt>creator</dt><dd>{{tiddler.creator|e}}</dd>
                <dt>modified</dt><dd>{{tiddler.modified}}</dd>
                <dt>modifier</dt><dd>{{tiddler.modifier|e}}</dd>
            </dl>
            {{ html }}
            </div>
        </div>
{% endblock %}
