{% extends 'base.html' %}
{% block links %}
        <link rel="alternate" type="application/atom+xml"
        title="Atom activity feed" href="{{ activity_feed }}" />
{% endblock %}
{% block title %}
        <h1 id="hcard-{{ username }}" class="vcard">
            <div>Profile for <a href="{{ space_uri }}" class="fn url">{{ username }}</a></div>
            <a href="{{ space_uri }}" title="space link">
                <img src="{{ avatar_path }}" alt="avatar" class="photo" />
            </a>
        </h1>
{% endblock %}
{% block content %}
        <div class="main section" id="profile">
            {{ profile }}
        </div>
        <div class="main section" id="activity">
            <ul id="tiddlers" class="listing">
            {% for tiddler in tiddlers %}
            <li><a href="{{ tiddler_url(environ, tiddler) }}">{{
                tiddler.title|e }}</a></li>
            {% endfor %}
            </ul>
        </div>
{% endblock %}
